{% extends "base.html" %}

{% block title %}Home - Fitness Tracker{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to the Fitness Tracker!</h1>
    <p class="lead">Track your workouts and progress easily.</p>

    <div class="mt-4">
        <a href="{{ url_for('main.login') }}" class="btn btn-primary btn-lg">Login</a>
        <a href="{{ url_for('main.register') }}" class="btn btn-success btn-lg">Register</a>
    </div>
</div>
{% endblock %}