{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Your Progress Photos</h2>

    <!-- Photo Upload Form -->
    <form method="POST" enctype="multipart/form-data" class="form-group">
        {{ form.hidden_tag() }}
        
        <div class="mb-3">
            <label for="photo" class="form-label">{{ form.photo.label }}</label>
            {{ form.photo(class="form-control") }}
        </div>
        
        <div>
            <button type="submit" class="btn btn-primary mt-3">Upload</button>
        </div>
    </form>

    <!-- Display Uploaded Photos -->
    <div class="uploaded-photos mt-5">
        <h3>Uploaded Photos:</h3>
        <div class="row">
            {% for photo in photos %}
                <div class="col-4 mb-3">
                    <div class="photo">
                        <!-- Image Source, Using User-specific folder -->
                        <img src="{{ url_for('static', filename='uploads/user_' ~ current_user.id ~ '/' ~ photo.filename) }}" alt="User Photo" width="300" style="object-fit: cover;">
                        <!-- Delete Photo Form -->
                        <form action="{{ url_for('main.delete_photo', photo_id=photo.id) }}" method="POST">
                            <button type="submit" class="btn btn-danger mt-2 btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
